.button {
  width: 270px;
  height: 60px;
  outline: none;
  border-style: none;
  cursor: pointer;

  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: $c-white-text;
  background-color: $red-bgcolor;
  transition: background-color 1s ease-in, color 1s ease-in, box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 7px 3px rgba(80,79,94,1);
    background-color: $main-bgcolor;
    color: $c-red-text;
  }
}
