.header {
  position: relative;
  height: 800px;
  background-color: $header-footer-bgcolor;

  @media (max-width: 1100px) {
    height: 762px;
  }

  @media (max-width: 630px) {
    height: 584px;
  }

  &__content-container {
    position: relative;
    height: 100%;
  }

  &__bottomside {
    // visibility: hidden;
    // display: none;
    // opacity: 0;
    // transform: translateX(100%);

    position: relative;
    height: calc(100% - 80px);
    padding-left: 55px;

    @media (max-width: 630px) {
      padding-left: 20px;
    }
  }

  &__main-menu {
    // visibility: hidden;
    // display: none;
  }

  &__hidden-menu {
    // position: absolute;
    // visibility: hidden;
    // display: none;
  }
}
